<h1 i18n="site header|An introduction header for this sample">
  Hello World!
</h1>
<img
  src="assets/turin_profile.jpg"
  i18n-title="profile image|A user profile image"
  title="My profile image!"
>
<br><br>
<button (click)="increaseMinutes(1)"> + </button>
<button (click)="increaseMinutes(-1)"> - </button>
<span i18n>
  Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}}.
</span>
<br><br>
<button (click)="changeGenderToMale()"> &#9794; </button>
<button (click)="changeGenderToFemale()"> &#9792; </button>
<button (click)="changeGenderToOther()"> &#9895; </button>
<span i18n>
  The author gender is {gender, select, male {male} female {female} other {other}}.
</span>
